:root{

    // ACA CREAMOS VARIBLES GLOBALES PARA LOS COLORES DE LA APLICACION
    /* colores de la pagina initapp.php */
    --background-color-primary: #8a659b;
    --background-color-secundary: #171d1c;
    --background-color-form: #f3f2f2;
    --background-color-form-secundary: #e9e9e9;
    --color-text-form-primary: #707070;
    --color-text-secundary:#f3f2f2;
    --color-text-primary:#8a659b;
    
    /* colores de las alertas */
    --color-fondo-contenedor: rgba(0, 0, 0, 0.4);
}